flask>=2.0,<3.0
bcrypt>=4.0,<5.0
flask-jwt-extended>=4.6,<5.0
python-dotenv>=1.0,<2.0
pytest>=7.0
requests>=2.28
flask-sqlalchemy>=3.1,<4.0
flask-migrate>=4.0,<5.0
SQLAlchemy>=2.0,<3.0
psycopg[binary]>=3.1
flask-cors
flask-swagger-ui
ruff
gunicorn

